 
::-webkit-scrollbar {
  
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  /* background: #E8E8E8;  */
  background: #d9d9d9; 
  border-radius: 20px;
}


  
