 
::-webkit-scrollbar {
  
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #E8E8E8; 
 /* color: hwb(181 18% 24%); */
  border-radius: 20px;
}


  
