.main {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  padding: 25px;
  font-size: 20px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: auto;
  width: 500px;
  background-color: #e6fffa;
  color: black;
  margin-top: 5%;
}
.main1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    padding: 25px;
    font-size: 20px;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    margin: auto;
    width: 500px;
    background-color: #e6fffa;
    color: black;
    margin-top: 10%;
  }
.input {
  background-color: white;
  width: 450px;
  border-radius: 25px;
  font-size: 20px;
  /* margin-top: 10px; */
  padding: 7px;
}
.signup > button {
  background-color: #2c7a7b;
  border-radius: 25px;
  width: 450px;
  height: 45px;
  color: white;
  margin-top: 15px;
  font-weight: bold;
}
.signup > button:hover {
  background-color: white;
  border-radius: 20px;
  width: 450px;
  height: 45px;
  color: #2c7a7b;
  border: 1px solid #2c7a7b;
  font-weight: bold;
}
.div2 {
  text-align: center;
  font-size: 30px;
  color: teal;
  font-weight: bold;
  /* background-image:url('https://cdn.wallpapersafari.com/29/10/uOZT3v.jpg') */
}
.div {
  margin-top: 10px;
  color: teal;
}
.mainOtp {
  margin: auto;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  padding: 25px;
  margin-top: 10%;
  background-color:  #e6fffa;;
  /* border: 1px solid red; */
}
.otpinput {
  /* border: 1px solid red; */
  margin: auto;
  width: 300px;
}
.home {
  margin: auto;
  color: teal;
  width: 100px;
  cursor: pointer;

  /* style={{margin:"auto",color:"teal",width:"100px"}}  */
}
.resend{
   
    margin: auto;
    margin-top: 40px;
    width: 240px ;
    font-weight: bold;
    /* font-size: 20px; */
    display: flex;
    gap:25px;
    /* border: 1px solid black; */
}
.resend>h1{
    font-size: 20px;
    color: teal;
    margin-top: 4px;
}
.reqbtn{
    background-color: #2c7a7b;
    border-radius: 25px;
    width: 150px;
    height: 45px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 8px
    /* margin: auto; */

}
.reqbtn:hover{

    background-color: white;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    color: #2c7a7b;
    border: 1px solid #2c7a7b;
    text-align: center;

}


